<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
        <!-- Add any additional listeners if needed -->
    </listeners>

  <test thread-count="5" name="Test">
  
 <!--<groups>
     <run>
      <include name = "group1"> </include>
      <include name = "group2"> </include>
     </run>
   </groups>-->
  
    <classes>
     <!--<class name="testcases.RegistrationTest"> 
       <methods>
       <exclude  name ="createAccounWithValidPass"/>
       </methods>
     </class>-->
     
     <class name="testcases.Logintest"/>
      <!--class name="testcases.PdtAddCarttest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->












